@keyframes placeholder {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

.image-placeholder {
  animation-name: placeholder;
  animation-duration: 1.25s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  width: 100%;
  height: clamp(10rem, calc(10rem+1vh), 25rem);
  min-height: 10rem;
  max-height: 25rem;
  position: relative;
  background: #a9a9a9;
  background: linear-gradient(to right, #eeeeee 10%, #dddddd 18%, #eeeeee 33%);
}
