.post-navi-wrapper {
  width: 100%;
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}

.post-container {
  padding: 0rem;
  margin: 0rem 2rem 4rem 2rem;
}

.post-column {
  height: 100%;
}

.post-thumnail {
  object-fit: cover;
  height: 12%;
  width: 100%;
}

.post-creater-name {
  font-size: 1em;
}

.post-date {
  font-size: 1em;
  float: right;
}

.post-creater-photo {
  width: 2rem;
  height: 2rem;
  object-fit: scale-down;
}

.post-title {
  word-wrap: break-word;
  font-size: 1em;
}

.post-subtitle {
  font-weight: 400;
  font-size: 0.85em;
  color: #757575;
  margin-top: 1rem;
  margin-bottom: 1rem;
  word-wrap: break-word;
}

.post-text {
  font-size: 0.78em;
  line-height: 1.7em;
  cursor: text;
  word-wrap: break-word;
}

.postcreate-header,
.postcreate-main {
  margin-bottom: 1.2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.postcreate-title {
  min-height: auto;
  max-height: 5rem;
}

.postcreate-story {
  min-height: 80vh;
}

.ql-container {
  height: 80vh;
}

.postcreate-footer {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 500px) {
  .post-thumnail {
    height: 23%;
  }
  .post-title {
    font-size: calc(1.2em + 1vw);
  }

  .post-subtitle {
    font-size: calc(1em + 0.7vw);
  }

  .post-text {
    font-size: calc(1em + 0.7vw);
    line-height: 1.5em;
  }

  .post-creater-photo {
    width: 2.5em;
    height: 2.5em;
  }

  .post-creater-name,
  .post-date {
    font-size: calc(1em + 0.5vw);
  }
}

@media only screen and (min-width: 768px) {
  .post-thumnail {
    height: 20%;
  }

  .post-creater-photo {
    width: 3.5rem;
    height: 3.5rem;
  }

  .margin-div {
    padding: 0rem;
  }

  .post-create-section {
    padding-left: 4rem !important;
    padding-right: 4rem !important;
  }
}

@media screen and (min-width: 992px) {
  .post-navi-wrapper {
    padding: 0rem !important;
  }
  .reponsive-post {
    width: 80% !important;
    margin-left: auto;
    margin-right: auto;
  }
  .post-container {
    margin: 0rem;
  }
}
