.poster {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  margin-bottom: 2rem;
  padding-inline: 1rem;
}

.poster-bg {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.2;
}

.poster-title {
  font-size: calc(2rem + 1.5vw);
  margin-block: auto;
}
