.homepage-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

@media screen and (min-width: 992px) {
  .homepage-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .featured-post {
    grid-column: 1/-1;
  }
}
