.homepage-container {
  margin: 1rem;
}

.homepage-grid {
  display: grid;
}

.welcome-text {
  font-size: 1.2rem;
  font-weight: 500;
}

.welcome-subtext {
  margin: 0rem;
  color: var(--bs-gray-800);
  display: inline-flex;
}

@media screen and (min-width: 768px) {
  .navi-wrapper {
    width: 100%;
    padding-left: 4rem !important;
    padding-right: 4rem !important;
  }

  .homepage-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 1rem;
    margin-left: 3rem;
    margin-right: 3rem;
  }
  .homepage-container {
    margin-left: 4rem;
    margin-right: 4rem;
  }

  .welcome-text {
    font-size: calc(1rem + 1vw);
  }

  .welcome-subtext {
    font-size: calc(0.7rem + 0.7vw);
  }
}
