.post-container {
  margin-inline: 1rem;
}

.post-thumbnail {
  object-fit: cover;
  height: auto;
  width: 100%;
  border-radius: 0.375rem;
  -webkit-border-radius: 0.375rem;
  -moz-border-radius: 0.375rem;
  -ms-border-radius: 0.375rem;
  -o-border-radius: 0.375rem;
}

.post-creater-photo {
  width: 2rem;
  height: 2rem;
  object-fit: scale-down;
}

.post-title {
  overflow-wrap: break-word;
  font-size: 1em;
}

.post-subtitle {
  font-weight: 400;
  font-size: 0.85em;
  color: #757575;
  overflow-wrap: break-word;
  display: inline-block;
  width: 80%;
}

.post-category {
  font-size: calc(1em + 0.5vw);
  text-transform: capitalize;
}

.post-text {
  line-height: 1.7em;
  cursor: text;
  word-wrap: break-word;
}

.postcreate-header,
.postcreate-main {
  margin-bottom: 1.2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.postcreate-title {
  min-height: auto;
  max-height: 5rem;
}

.postcreate-story {
  min-height: 80vh;
}

.ql-container {
  height: 80vh;
  border: 1px solid #ced4da;
  border-bottom-left-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
}

.ql-toolbar {
  border: 1px solid #ced4da;
  border-top-left-radius: 0.375rem;
  border-top-right-radius: 00.375rem;
}

.postcreate-footer {
  display: flex;
  justify-content: center;
}

.post-text > h1 {
  font-size: calc(1.15em + 0.75vw);
}
.post-text > h2 {
  font-size: calc(1.15em + 0.75vw);
}
.post-text > h3 {
  font-size: calc(1.05em + 0.75vw);
}
.post-text > h4 {
  font-size: calc(1em + 0.75vw);
}
.post-text > h5 {
  font-size: calc(0.95em + 0.75vw);
}
.post-text > h6 {
  font-size: calc(0.85em + 0.75vw);
}
.post-text > p,
span,
div {
  font-size: calc(0.8em + 0.75vw);
}

.post-creater-card {
  margin-inline: 1rem;
  border: 1px solid cadetblue;
  border-radius: 0.375rem;
  -webkit-border-radius: 0.375rem;
  -moz-border-radius: 0.375rem;
  -ms-border-radius: 0.375rem;
  -o-border-radius: 0.375rem;
}

.fs-sm{
  font-size: 0.85em;
  color: rgba(0, 0, 0, 0.75);
  height: max-content;
  margin-top: auto;
}

@media screen and (min-width: 500px) {
  .post-title {
    font-size: calc(1.2em + 1vw);
  }

  .post-subtitle {
    font-size: calc(1em + 0.7vw);
  }

  .post-creater-photo {
    width: 2.5em;
    height: 2.5em;
  }

  .post-creater-name,
  .post-date {
    font-size: calc(1em + 0.5vw);
  }
}

@media only screen and (min-width: 768px) {
  .post-creater-photo {
    width: 3.5rem;
    height: 3.5rem;
  }

  .post-create-section {
    padding-left: 4rem !important;
    padding-right: 4rem !important;
  }

  .post-text > p,
  span,
  div {
    font-size: calc(1em + 0.05vw);
  }
}

@media (min-width: 992px) {
  .post-container {
    width: 75%;
    margin-inline: auto;
  }
}
