.nav-link {
  color: #252525;
}

.navi-logo {
  margin-inline: auto;
}

.navi-toggle {
  position: absolute;
  right: 5%;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 992px) {
  .nav-space {
    margin-left: auto !important;
  }
  .navi-logo{
    margin-left: 1rem;
    padding-right: 1rem;
  }
}
